<!DOCTYPE html>
<html lang="zh">
<head>
    <title>
        Allure
    </title>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <!-- Bootstrap Core CSS -->
    <link href="/public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/public/lib/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <!-- <link href="/sb-admin-2/css/plugins/timeline.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <link href="/public/lib/sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="/public/lib/sb-admin-2/css/plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!-- <link href="/sb-admin-2/css/plugins/morris.css" rel="stylesheet"> -->
    <!-- Custom Fonts -->
    <link href="/public/lib/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link type="text/css" href="/public/lib/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/public/lib/bolster.bxSlider/jquery.bxslider.css" />
    <link href="/public/lib/webuploader_fex/dist/webuploader.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/dashboard.css">

    <script src="/public/lib/requirejs/require.js"></script>
    <script src="/public/javascripts/admin/require.config.js"></script>
    <script type="text/javascript">require(['/public/javascripts/admin/app.js'], function () { })</script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Allure后台管理</a>
            </div>
            <div>
                <p class="navbar-text navbar-right" style="margin-right:50px">
                    <span class="glyphicon glyphicon-user"></span>&nbsp; Welcome <label id="username"></label> &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/user/logout">Logout</a>

                </p>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a class="active" href="/admin/#/home"><i class="glyphicon glyphicon-home"></i>后台管理首页</a>
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-inbox"></i>分类管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="/admin/#/categories">分类列表</a>
                                </li>
                                <li>
                                    <a href="/admin/#/category/main/create">创建主分类</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-th"></i>用户管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="/admin/#/user">用户列表</a>
                                </li>
                                <li>
                                    <a href="/admin/#/user/create">创建用户</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-barcode"></i>商品<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="/admin/#/products">商品列表</a>
                                </li>
                                <li>
                                    <a href="/admin/#/product/create">创建商品</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-home"></i>库存<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="/admin/#/warehouse/create">出入库</a>
                                </li>
                                <li>
                                    <a href="/admin/#/warehouse/list">操作履历</a>
                                </li>
                                <li>
                                    <a href="/admin/#/warehouse/stores">库存列表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="active" href="/admin/#/orders"><i class="glyphicon glyphicon-shopping-cart"></i>订单</a>
                        </li>
                        <li>
                            <a><i class="glyphicon glyphicon-home"></i>设置<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="/admin/#/brands">品牌设置</a>
                                    <a href="/admin/#/warehouses">仓库设置</a>
                                    <a href="/admin/#/logistics">物流公司设置</a>
                                    <a href="/admin/#/locales">产地设置</a>
                                    <a href="/admin/#/languages">语言设置</a>
                                    <a href="/admin/#/checkaddresses/1">验货地址设置</a>
                                </li>
                            </ul>
                        </li>
                  </ul>
            </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" class="container">
            <div class="row" ng-View>
            </div>
            <div class="spinner-wrap" loadingspinner>
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>
        <!-- jQuery Version 1.11.0 -->
        <script src="/public/lib/sb-admin-2/js/jquery-1.11.0.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/public/lib/sb-admin-2/js/bootstrap.min.js"></script>
        <script src="/public/lib/jquery-ui-bootstrap/assets/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="/public/lib/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/public/lib/sb-admin-2/js/sb-admin-2.js"></script>
    </div>
</body>
</html>
