@model Allure.Web.Models.MainViewModel

<link type="text/css" rel="stylesheet" href="/static/css/page/checkoutList.css">

<!-- checkout list start-->
    <div class="al-checkout-wrap" ng-controller="ShopCarController">
        <div class="al-checkout-area">
            <div class="al-checkout-info">
                <h6><span class="glyphicon glyphicon-th-list"></span>{{'CheckoutList' | translate}}</h6>
                <div  ng-cloak class="shop-car-list" ng:show="productType.shopCars.length > 0">

                    <div class="al-table">
                        <div class="al-row">
                            <div class="img">
                                {{'Product' | translate}}
                            </div>
                            <div class="number">
                                {{'ProductName' | translate}}
                            </div>
                            <div class="number">
                                {{'Number' | translate}}
                            </div>
                            <div class="price">
                                <span>{{'Price' | translate}}</span>
                            </div>
                            <div class="price">
                                <span>{{'Account' | translate}}</span>
                            </div>
                            <div class="delete"></div>
                        </div>
                        <div class="al-row" ng:repeat="product in productType.shopCars">
                            <div class="img">
                                <img src="{{product.imgUrl}}" width="100" height="100"/>
                            </div>
                            <div class="number">
                                <span>{{product.name}}</span>
                            </div>
                            <div class="number">
                                <input type="text" ng-keyup="validate(product.number)" ng-model="product.number" class="form-control" value="{{product.number}}" />
                            </div>
                            <div class="price">
                                <span>{{product.price | number:2}}</span>
                            </div>
                            <div class="price">
                                <span>{{product.price * product.number| number:2}}</span>
                            </div>
                            <div class="delete">
                                <span class="glyphicon glyphicon-remove" ng-click="delete($index)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-sum">
                        <span class="title">{{'TotalMoney' | translate}}:</span><span class="total">¥{{productType.sum()}}</span>
                    </div>
                    <div class="checkout-list-btn-area">
                        <a href="/order/submit/" target="_blank" class="btn btn-primary" role="button">{{'checkout' | translate}}</a>
                    </div>
                </div>
                <div  ng-cloak class="shop-car-empty" ng:show="productType.shopCars.length === 0">
                    <div class="alert alert-info" role="alert">
                        {{'shopcarsempty' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- checkout list end-->
<script type="text/javascript">
    var require = (function () {

        return {
            "callback": function () {

                var deps = ["require", "jquery"];

                require.config({
                    "waitSeconds": 0,

                    "baseUrl": "/static",

                    "packages": [
                        {
                            "name": "jquery",
                            "location": "js/lib/jquery",
                            "main": "jquery-1.9.1"
                        },
                        {
                            "name": "angular",
                            "location": "js/lib/angularjs",
                            "main": "angular"
                        },
                        {
                            "name": "angularjs-bootstrap",
                            "location": "js/lib/angularjs-bootstrap",
                            "main": "ui-bootstrap-tpls"
                        },
                        {
                            "name": "bootstrap",
                            "location": "js/plugin/bootstrap",
                            "main": "bootstrap"
                        },
                        {
                            "name": "jquery-cookie",
                            "location": "js/plugin/jquery-cookie",
                            "main": "jquery-cookie"
                        },
                        {
                            "name": "shopCar",
                            "location": "js/app/shopCar",
                            "main": "main"
                        },
                        {
                            "name": "searchProduct",
                            "location": "js/app/searchProduct",
                            "main": "main"
                        },
                        {
                            "name": "checkoutList",
                            "location": "js/app/checkoutList",
                            "main": "main"
                        },
                        {
                            "name": "angular-translate",
                            "location": "js/lib/angularjs-translate",
                            "main": "angular-translate"
                        },
                        {
                            "name": "angular-translate-loader-static-files",
                            "location": "js/lib/angularjs-translate-loader-static-files",
                            "main": "angular-translate-loader-static-files"
                        }
                    ],

                    "shim": {
                        "bootstrap": {
                            deps: ["jquery"],
                            init: function($) {
                                return $;
                            }
                        },
                        "angularjs-bootstrap": {
                            deps: ["angular"]
                        },
                        "angular-translate": {
                            deps: ["angular"],
                            init: function ($) {
                                return $;
                            }
                        },
                        "angular-translate-loader-static-files": {
                            deps: ["angular-translate"],
                            init: function ($) {
                                return $;
                            }
                        }
                    },

                    "deps": deps,

                    "callback": function (localRequire) {
                        localRequire(["jquery", "checkoutList"], function (jQuery, CheckoutList) {
                            jQuery(document.body).ready(
                                function(){
                                    new CheckoutList();
                            });
                        });
                    }
                });
            }
        };
    })();
</script>