<!-- footer start-->
<div class="al-footer-wrap">
    <div class="al-footer-area">
        <div class="al-footer-info">
            <div class="under-line"></div>
            <div class="footer-list">
                <div class="box one">
                    <div class="title">ABOUT US</div>
                    <ul>
                        <li><a href="#">COMPANY INFO</a></li>
                        <li><a href="#">TERMS & CONDITIONS</a></li>
                        <li><a href="#">PRIVACY POLICY</a></li>
                        <li><a href="#">SALES POLICY</a></li>
                        <li><a href="#">CONTACT</a></li>
                    </ul>
                </div>
                <div class="box two">
                    <div class="title">SIGN UP FOR NEWSLETTER</div>
                    <div class="btn">
                        <input type="text" class="form-control" placeholder="Please enter your email"/>
                        <input type="button" value="Go"/>
                    </div>
                </div>
                <div class="box three">
                    <div class="title">SHARE</div>
                    <ul>
                        <li><a href="#" class="o1"></a></li>
                        <li><a href="#" class="o2"></a></li>
                        <li><a href="#" class="o3"></a></li>
                    </ul>
                </div>
                <div class="box four">
                    <div class="title">LET US HELP YOU</div>
                    <div>
                        <a href="#">BECKANDCALL@BESPOKEGLOBAL.COM (+1) 212.537.0112</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer end-->
<script type="text/javascript" src="/static/js/lib/requirejs/require.js"></script>