body {
  font-size: 12px;
}
.al-nav-wrap {
  width: 100%;
  background: #000000;
}
.al-nav-wrap .al-nav-area {
  margin: 0 auto;
  width: 980px;
  min-height: 26px;
}
.al-nav-wrap .al-nav-area .al-nav-info {
  position: absolute;
  width: inherit;
}
.al-nav-wrap .al-nav-area .al-nav-info .navbar {
  margin: 0 auto;
  width: inherit;
  height: 26px !important;
  min-height: 26px !important;
  background: #000000;
  border: 0;
}
.al-nav-wrap .al-nav-area .al-nav-info .navbar ul li {
  border-right: 1px dashed #CCCCCC;
}
.al-nav-wrap .al-nav-area .al-nav-info .navbar ul li a {
  padding: 3px 10px;
  font-size: 11px;
  color: #CCCCCC;
}
.al-nav-wrap .al-nav-area .al-nav-info .navbar ul li a:hover {
  color: #FFFFFF;
}
.al-logo-wrap {
  margin-top: 20px;
  width: 100%;
}
.al-logo-wrap .al-logo-area {
  margin: 0 auto;
  width: 980px;
}
.al-logo-wrap .al-logo-area .al-logo-info {
  padding: 20px 0;
  text-align: center;
}
.al-menu-wrap {
  width: 100%;
}
.al-menu-wrap .al-menu-area {
  margin: 0 auto;
  width: 980px;
  border-bottom: 1px dashed #000000;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar {
  background: #FFFFFF;
  border: none;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul.menu-ul-list {
  width: 100%;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul li a {
  padding: 10px 25px;
  font-size: 11px;
  color: #000000;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul li a:hover {
  color: #2F2C2C;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul li.search {
  float: right;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul li.search input {
  padding: 5px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #000000;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul li.search input.form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul li.search button {
  background: transparent;
  border: none;
  top: 5px;
  right: 0;
  position: absolute;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul li > ul {
  background: #000000;
}
.al-menu-wrap .al-menu-area .al-menu-info .navbar ul li > ul li a {
  color: #FFFFFF;
}
.shop-car {
  position: relative;
}
.shop-car.dropdown a {
  background: #000000 !important;
}
.shop-car a {
  font-size: 14px;
}
.shop-car .shop-car-list {
  position: absolute;
  top: 28px;
  z-index: 100;
  width: 300px;
  margin-left: -90px;
  background-color: #ffffff;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 10px;
}
.allure-dropdown.dropdown > a {
  background: #000000 !important;
}
.allure-dropdown .dropdown-menu {
  background-color: #ffffff;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.allure-dropdown .dropdown-menu li {
  border-right: 0 !important;
}
.allure-dropdown .dropdown-menu li > a {
  color: #000000 !important;
}
.language > a {
  background: #000000 !important;
}
.language ul {
  position: absolute;
  top: 28px;
  z-index: 100;
  width: 100px;
  margin-left: -90px;
  background-color: #ffffff;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 10px;
}
.language ul li {
  border-right: 0 !important;
}
.language ul li > a {
  color: #000000 !important;
}
.al-footer-wrap {
  width: 100%;
}
.al-footer-wrap .al-footer-area {
  margin: 0 auto;
  width: 980px;
  border-top: 1px dashed #000000;
}
.al-footer-wrap .al-footer-area .al-footer-info {
  padding: 20px;
}
.al-footer-wrap .al-footer-area .al-footer-info:before,
.al-footer-wrap .al-footer-area .al-footer-info:after {
  content: " ";
  display: table;
}
.al-footer-wrap .al-footer-area .al-footer-info:after {
  clear: both;
}
.al-footer-wrap .al-footer-area .al-footer-info .under-inline {
  border-bottom: 1px dashed #000000;
}
.al-footer-wrap .al-footer-area .al-footer-info .box {
  float: left;
}
.al-footer-wrap .al-footer-area .al-footer-info .box a {
  color: #000000;
}
.al-footer-wrap .al-footer-area .al-footer-info .box a:hover {
  text-decoration: underline;
}
.al-footer-wrap .al-footer-area .al-footer-info .box .title {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 11px;
  font-weight: 300;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.one {
  width: 200px;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.one ul {
  margin: 0;
  padding-left: 0;
  margin-top: 10px;
  list-style-type: none;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.one ul li {
  font-size: 10px;
  font-weight: 300;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.two {
  width: 250px;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.two .btn {
  position: relative;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.two input {
  padding: 5px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #000000;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.two input.form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.two input:last-child {
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  right: -15px;
  background: #000000;
  border: none;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.three {
  width: 200px;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.three ul {
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.three ul li {
  float: left;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.three ul li:first-child {
  margin-left: 0;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.three ul li a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/allure/imgs/site_list.png') no-repeat;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.three ul li a.o1 {
  background-position: 0 -38px;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.three ul li a.o2 {
  background-position: 0 -18px;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.three ul li a.o3 {
  background-position: 0 -98px;
}
.al-footer-wrap .al-footer-area .al-footer-info .box.four {
  width: 200px;
  font-size: 10px;
  font-weight: 300;
}
.error {
  display: block;
  color: #a94442;
}
.shop-car-list .al-table {
  width: 100%;
  display: table;
}
.shop-car-list .al-table .al-row {
  display: table-row;
}
.shop-car-list .al-table .al-row > div {
  padding: 5px;
  display: table-cell;
  width: 25%;
  vertical-align: middle;
  border-bottom: 1px dashed #CCCCCC;
}
.shop-car-list .al-table .al-row > div.img img {
  width: 50px;
  height: 50px;
}
.shop-car-list .al-table .al-row > div.number input {
  width: 65px;
}
.shop-car-list .al-table .al-row > div.price {
  font-weight: bold;
}
.shop-car-list .al-table .al-row > div.delete span {
  cursor: pointer;
}
.shop-car-list .al-table .al-row > div.delete span:hover {
  color: red;
}
.shop-car-list .al-table .al-row:first-child > div {
  font-weight: bold;
}
.shop-car-list .al-table .al-row:last-child > div {
  border-bottom: 0;
}
.shop-car-list .product-sum {
  text-align: right;
}
.shop-car-list .product-sum span.title {
  font-size: 14px;
  font-weight: bold;
}
.shop-car-list .product-sum span.total {
  padding-left: 20px;
  font-size: 20px;
  color: #A33030;
  font-weight: bold;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display:none !important;
}
.al-leisure-wrap {
  width: 100%;
}
.al-leisure-wrap .al-leisure-area {
  margin: 0 auto;
  width: 980px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info {
  padding: 20px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info:before,
.al-leisure-wrap .al-leisure-area .al-leisure-info:after {
  content: " ";
  display: table;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info:after {
  clear: both;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left {
  float: left;
  width: 150px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box .type-text {
  position: relative;
  margin-bottom: 10px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box .type-text input {
  padding: 5px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #000000;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box .type-text input.form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box .type-text button {
  background: transparent;
  border: none;
  top: 7px;
  right: 15px;
  position: absolute;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box .title {
  margin-bottom: 10px;
  padding: 5px 0;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box.category ul {
  list-style-type: none;
  padding-left: 10px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box.category ul li a {
  color: #000000;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box.price ul {
  list-style-type: none;
  padding-left: 10px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box.price ul li a {
  color: #000000;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-left .box.price li span:first-child {
  padding-right: 10px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right {
  width: 100%;
  float: right;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box .big-pic {
  position: relative;
  margin-bottom: 20px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box .big-pic .text {
  width: inherit;
  position: absolute;
  top: 85%;
  left: 0;
  right: 20px;
  text-align: right;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box .big-pic .text span {
  font-size: 35px;
  color: #111111;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box .intro {
  padding: 10px 0;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .price ul {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .price ul li {
  margin-left: 20px;
  float: left;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .price ul li:before,
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .price ul li:after {
  content: " ";
  display: table;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .price ul li:after {
  clear: both;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .price ul li span {
  float: left;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .price ul li span:last-child {
  margin-top: 4px;
  margin-left: 5px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .paging {
  padding: 10px 5px;
  border-bottom: 1px solid #000000;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .paging:before,
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .paging:after {
  content: " ";
  display: table;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .paging:after {
  clear: both;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .paging .o1,
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .paging .o2,
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .paging .o3 {
  float: left;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products {
  margin-top: 20px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul {
  list-style-type: none;
  padding-left: 0;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul:before,
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul:after {
  content: " ";
  display: table;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul:after {
  clear: both;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul li {
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul li a img {
  width: 200px;
  height: 200px;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul li a:hover {
  text-decoration: none;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul li a:hover .text {
  color: #626366;
  -webkit-transition: color ease-in 0.5s;
  -o-transition: color ease-in 0.5s;
  transition: color ease-in 0.5s;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul li a:hover .img {
  opacity: 1;
  -webkit-transition: opacity ease-in 0.5s;
  -o-transition: opacity ease-in 0.5s;
  transition: opacity ease-in 0.5s;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul li .img {
  opacity: 0.8;
  cursor: pointer;
}
.al-leisure-wrap .al-leisure-area .al-leisure-info .list-right .box.list .display-products ul li .text {
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: #37383A;
}
