
<link type="text/less" rel="stylesheet" href="/static/css/page/register.css">

<!-- register start-->
	<div class="al-register-wrap">
		<div class="al-register-area">
			<div class="al-register-info">
                <div class="al-register-text">
                    <h3>User Register</h3>
                    <form class="form-horizontal register-form" action="/user/register" method="post" name="registerForm">
                    <div class="form-group">
                        <label for="email" class="col-sm-3 control-label">{{ 'EMAIL' | translate }}:</label>
                        <div class="col-sm-8">
                            <input type="email" name="email" class="form-control" id="email" placeholder="{{ 'EMAIL' | translate }}">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="firstName" class="col-sm-3 control-label">First Name:</label>
                        <div class="col-sm-8">
                            <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="col-sm-3 control-label">Last Name:</label>
                        <div class="col-sm-8">
                            <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gender" class="col-sm-3 control-label">Gender:</label>
                        <div class="col-sm-8">
                            <label class="radio-inline"><input type="radio" name="gender" value="Female">Female</label>
                            <label class="radio-inline">
                              <input type="radio" name="gender" value="Male">Male
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="telephone" class="col-sm-3 control-label">Telephone call:</label>
                        <div class="col-sm-8">
                            <input type="text" name="telephone" class="form-control" id="telephone" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mobile" class="col-sm-3 control-label">Mobile:</label>
                        <div class="col-sm-8">
                            <input type="text" name="mobile" class="form-control" id="mobile" placeholder="Mobile">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="plainTextPassword" class="col-sm-3 control-label">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" name="plainTextPassword" class="form-control" id="plainTextPassword" placeholder="password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="plainTextConfirmPassword" class="col-sm-3 control-label">Confirm password:</label>
                        <div class="col-sm-8">
                            <input type="password" name="plainTextConfirmPassword" class="form-control" id="plainTextConfirmPassword" placeholder="Confirm password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address" class="col-sm-3 control-label">Delivery Adress:</label>
                        <div class="col-sm-8">
                            <input type="text" name="address" class="form-control" id="address" placeholder="Address">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="postCode" class="col-sm-3 control-label">Post code:</label>
                        <div class="col-sm-8">
                            <input type="text" name="postCode" class="form-control" id="postCode" placeholder="Post code">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="company" class="col-sm-3 control-label">Company:</label>
                        <div class="col-sm-8">
                            <input type="text" name="company" class="form-control" id="company" placeholder="Company">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="agreeProtocol">
                                    <span class="text">I agree to the Terms And Conditions Of Use</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
                </div>
			</div>
		</div>
	</div>
<!-- register end-->
<script type="text/javascript">
    var require = (function () {

        return {
            "callback": function () {

                var deps = ["require", "jquery"];

                require.config({
                    "waitSeconds": 0,

                    "baseUrl": "/static",

                    "packages": [
                        {
                            "name": "jquery",
                            "location": "js/lib/jquery",
                            "main": "jquery-1.9.1"
                        },
                        {
                            "name": "angular",
                            "location": "js/lib/angularjs",
                            "main": "angular"
                        },
                        {
                            "name": "angularjs-bootstrap",
                            "location": "js/lib/angularjs-bootstrap",
                            "main": "ui-bootstrap-tpls"
                        },
                        {
                            "name": "bootstrap",
                            "location": "js/plugin/bootstrap",
                            "main": "bootstrap"
                        },
                        {
                            "name": "jquery-cookie",
                            "location": "js/plugin/jquery-cookie",
                            "main": "jquery-cookie"
                        },
                        {
                            "name": "shopCar",
                            "location": "js/app/shopCar",
                            "main": "main"
                        },
                        {
                            "name": "validate",
                            "location": "js/plugin/validate",
                            "main": "jquery-validate"
                        },
                        {
                            "name": "register",
                            "location": "js/app/register",
                            "main": "main"
                        },
                        {
                            "name": "angular-translate",
                            "location": "js/lib/angularjs-translate",
                            "main": "angular-translate"
                        },
                        {
                            "name": "angular-translate-loader-static-files",
                            "location": "js/lib/angularjs-translate-loader-static-files",
                            "main": "angular-translate-loader-static-files"
                        }
                    ],

                    "shim": {
                        "bootstrap": {
                            deps: ["jquery"],
                            init: function($) {
                                return $;
                            }
                        },
                        "angularjs-bootstrap": {
                            deps: ["angular"]
                        },
                        "validate": {
                            deps: ["jquery"],
                            init: function($) {
                                return $;
                            }
                        },
                        "angular-translate": {
                            deps: ["angular"],
                            init: function ($) {
                                return $;
                            }
                        },
                        "angular-translate-loader-static-files": {
                            deps: ["angular-translate"],
                            init: function ($) {
                                return $;
                            }
                        }
                    },

                    "deps": deps,

                    "callback": function (localRequire) {
                        localRequire(["jquery", "register"], function (jQuery, Register) {
                            jQuery(document.body).ready(
                                function(){
                                    new Register();
                            });
                        });
                    }
                });
            }
        };
    })();
</script>