@model MainViewModel<CategoryIndex>

<link type="text/less" rel="stylesheet" href="/static/css/page/productList.css">

<!-- product list start-->
	<div class="al-leisure-wrap">
		<div class="al-leisure-area">
			<div class="al-leisure-info">
				
				<div class="list-right">
					<div class="box">
						<div class="big-pic">
							<img src="/static/imgs/Leisure_main.jpg"/>
							<div class="text"><span>LEISURE</span></div>
						</div>
						<div class="intro">
							Specializing in custom commissions, all leisure goods selected have bespoke options. The selection ranges from footballs, canoe paddles, kayaks, fly fishing, falconry and bikes, to backgammon, chess, bridge, foosball, ping pong and billiards. This unique collection showcases exceptional craftsmanship in exotic leathers and superior materials including mother of pearl, horsehair, wood, pewter and stained glass. Artisan crafted. Completely customizable. Just for you.
						</div>				
					</div>

					<div class="box list" ng-cloak ng-controller="ListController" category-url="/category/products/@(Model.BodyModel.Current.Id)">
						<div class="paging">
                            <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" direction-links="false"></pagination>
                        </div>
                        <div class="box price">
						    <ul class="clearfix">
                                <li>
								    <span><input type="radio" name="selectPrice" ng-click="compare(0)" checked/></span>
								    <span>All</span>
							    </li>
							    <li>
								    <span><input type="radio" name="selectPrice" ng-click="compare(0,99)"/></span>
								    <span>0-100</span>
							    </li>
							    <li>
								    <span><input type="radio" name="selectPrice" ng-click="compare(100,199)"/></span>
								    <span>100-199</span>
							    </li>
							    <li>
								    <span><input type="radio" name="selectPrice" ng-click="compare(200, 499)"/></span>
								    <span>200-499</span>
							    </li>
							    <li>
								    <span><input type="radio" name="selectPrice" ng-click="compare(500, 699)"/></span>
								    <span>500-699</span>
							    </li>
							    <li>
								    <span><input type="radio" name="selectPrice" ng-click="compare(700, 999)"/></span>
								    <span>700-999</span>
							    </li>
						    </ul>
					    </div>
                        <div class="display-products">
                            <ul>
                                <li ng-repeat="item in filterDetail = (details |  filter : priceSection)">
                                <a href="/product/{{ item.Id }}" target="_blank">
                                    <div class="img"><img src="@this.AdminSite{{ item.ImageUrls[0] }}"/></div>
                                    <div class="text">
                                        <div class="name">{{ item.Name }}</div>
                                        <div class="price">{{ item.Price }}$</div>
                                    </div>
                                    </a>
                                </li>
                                <li ng-show="filterDetail.length === 0" style="width:100%">
                                    <div class="alert alert-info" role="alert">
                                        Your select product is empty.
                                    </div>
                                </li>
                            </ul>

                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- product list end-->
<script type="text/javascript">

    var require = (function () {

        return {
            "callback": function () {

                var deps = ["require", "jquery"];

                require.config({
                    "waitSeconds": 0,

                    "baseUrl": "/static",

                    "packages": [
                        {
                            "name": "jquery",
                            "location": "js/lib/jquery",
                            "main": "jquery-1.9.1"
                        },
                        {
                            "name": "angular",
                            "location": "js/lib/angularjs",
                            "main": "angular"
                        },
                        {
                            "name": "angularjs-route",
                            "location": "js/lib/angularjs-route",
                            "main": "angularjs-route"
                        },
                        {
                            "name": "angularjs-bootstrap",
                            "location": "js/lib/angularjs-bootstrap",
                            "main": "ui-bootstrap-tpls"
                        },
                        {
                            "name": "bootstrap",
                            "location": "js/plugin/bootstrap",
                            "main": "bootstrap"
                        },
                        {
                            "name": "jquery-cookie",
                            "location": "js/plugin/jquery-cookie",
                            "main": "jquery-cookie"
                        },
                        {
                            "name": "shopCar",
                            "location": "js/app/shopCar",
                            "main": "main"
                        },
                        {
                            "name": "productList",
                            "location": "js/app/productList",
                            "main": "main"
                        }
                    ],

                    "shim": {
                        "bootstrap": {
                            deps: ["jquery"],
                            init: function($) {
                                return $;
                            }
                        },
                        "angularjs-route": {
                            deps: ["angular"]
                        },
                        "angularjs-bootstrap": {
                            deps: ["angular"]
                        }
                    },

                    "deps": deps,

                    "callback": function (localRequire) {
                        localRequire(["jquery", "productList"], function (jQuery, ProductList) {
                            jQuery(document.body).ready(
                                function(){
                                    new ProductList({
                                        
                                    });
                            });
                        });
                    }
                });
            }
        };
    })();
</script>