<style type="text/css">
    .client-row{
        width: 782px;
        margin-bottom: 30px;
    }
    .description .content{
        min-height: 100px;
    }
    .form-group{
        margin-top:15px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="page-content-header row">
            <div class="col-lg-10">
                <h4>地区管理</h4>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;margin-right: 60px">
            <div class="col-lg-12 text-right" style="padding-right: 25px;">
                <a type="button" class="btn btn-primary" href="#/locale/create/{{locale.id}}">添加地区</a>
            </div>
        </div>
        <div class="client-page">
            
            <div class="client-row" ng-repeat="locale in locales" style="border: 1px #ccc solid">
                <div class="row">
                    <h4 class="col-lg-12" style="padding-left: 25px;">地区：</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="row">
                            <li ng-repeat="language in locale.localizations" class="form-horizontal">
                                <div class="form-group">
                                    <h5>{{getLanguageName(language.languageCode)}}</h5>
                                    <label class="col-sm-2 control-label" style="padding-top: 0">名字:</label>
                                    <div class="col-sm-10">{{language.name}}</div>
                                    <label class="col-sm-2 control-label" style="padding-top: 0">描述:</label>
                                    <div class="col-sm-10">{{language.description}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 30px">
                    <div class="col-lg-12 text-right" style="padding-right: 25px;">
                        <a type="button" class="btn btn-default" href="#/locale/edit/{{locale.id}}">修改</a>
                        <input type="button" class="btn btn-danger" value="删除" locale-delete ng-model="locale" ng-others="locales"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>