<!-- footer start-->
<div class="al-footer-wrap">
    <div class="al-footer-area">
        <div class="al-footer-info">
            <div class="under-line"></div>
            <div class="footer-list">
                <div class="box one">
                    <div class="title">{{'ABOUTUS' | translate}}</div>
                    <ul>
                        <li><a href="/home/about">{{'COMPANYINFO' | translate}}</a></li>
                        <li><a href="/home/terms">{{'TERMSCONDITIONS' | translate}}</a></li>
                        <li><a href="/home/privacy">{{'PRIVACYPOLICY' | translate}}</a></li>
                        <li><a href="/home/salespolicy">{{'SALESPOLICY' | translate}}</a></li>
                        <li><a href="/home/support">{{'CONTACT' | translate}}</a></li>
                    </ul>
                </div>
                <div class="box two">
                    <div class="title"></div>
                    <div class="btn">
                        
                    </div>
                </div>
                @*<div ng-controller="SubscribedMailController">
                    <input type="text" id="txtSmail" />
                    <input type="button" id="btnSmailSubmit" value="submit" ng-click="submitMail()" />
                </div>*@
                <div class="box three">
                    <div class="title"></div>
                    <img src="~/static/imgs/site_list.png" style="width:90px;height:160px;margin-left:100px" />
                </div>
                <div class="box four">
                    <div class="title">{{'LETUSHELPYOU' | translate}}</div>
                    <div>
                        <b>Jim Mai</b><br />
                        021-3376 3068<br />
                        021-3376 3070 Fax<br />
                        <a href="mailto:jim.mai@allureco.biz">jim.mai@allureco.biz</a><br />
                        Allure Co.,Ltd. (Shanghai Office)<br/>
                        {{'HelpAddress1' | translate}}<br />
                        {{'HelpAddress2' | translate}}<br />
                        {{'HelpAddress3' | translate}}<br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer end-->
<script type="text/javascript" src="/static/js/lib/requirejs/require.js"></script>